<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static '/img/logo.png' %}">
    <title>Doctor</title>
</head>

<body background="{% static '/img/piel2.jpg' %}">
    <!-- Inicio del Encabezado -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'principal' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctor' %}">Doctor</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'tablas' %}">Registro de las Tablas</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin del Encabezado -->

    <!-- Atencion/Visita del Doctor -->
    <b><label for="basic-url" class="form-label">Atencion</label></b>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            <a>Doctor</a>
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            <a>Paciente</a>
        </label>
    </div>
    <div class="col-md-2">
        <b><label for="inputZip" class="form-label">Feha</label></b>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-4">
        <b><label for="inputState" class="form-label">Motivo</label></b>
        <select id="inputState" class="form-select">
            <option selected>Gastritis</option>
            <option>Gripe</option>
            <option>Alergia</option>
            <option>Migraña</option>
            <option>Diarrea</option>
            <option>Fiebre</option>
        </select>


    </div>
    <div class="row g-3">
        <div class="col">
            <b><label for="exampleFormControlTextarea1" class="form-label">Receta</label></b>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div class="col">
            <b><label for="inputState" class="form-label">Cantidad</label></b>
            <select id="inputState" class="form-select">
                <option selected>Indeterminado</option>
                <option>Cada 4 Horas</option>
                <option>Cada 6 Horas</option>
                <option>Cada 8 Horas</option>
                <option>Cada 12 Horas</option>
                <option>Cada Dia</option>
            </select>
        </div>
    </div>
    <br>
    <label>
        <button class="btn btn-primary" type="submit">Guardar</button>
        <!-- Atencion/Visita del Doctor -->
    </label>
</body>

</html>