<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sistema de Registro</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'principal' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctor' %}">Doctor</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<center><label for="basic-url" class="form-label">Empresa</label></center>
<br>
    <div class="input-group mb-3" needs-validation>
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control"  aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Direccion</span>
    </div>

   
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Ciudad</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>

<br>
<br>
<br>
<br>
<br>

<center><label for="basic-url" class="form-label">Sucursal</label></center>
<br>
<div class="input-group mb-3" needs-validation>
    <span class="input-group-text" id="basic-addon1">Nombre</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control"  aria-label="Recipient's username"
        aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">Direccion</span>
</div>


<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Ciudad</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<br>
<br>
<br>
<br>
<br>
<center><label for="basic-url" class="form-label">Paciente</label></center>
<br>
<form class="row g-3 needs-validation">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="2 Nombres" required>
      <div class="valid-feedback">
        Todo Correcto :D !
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="2 Apellidos" required>
      <div class="valid-feedback">
        Todo Correcto :D !
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Telefono</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">#</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Porfavor poner su numero de Telefono >:c.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Porfavor agregar su Direccion >:c.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">Tipo de Sangre</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Escoga</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        <option>O+</option>
        <option>O-</option>
      </select>
      <div class="invalid-feedback">
        Porfavor escoga su tipo de sangre >:c.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Estatura</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Porfavor poner su estatura >:c.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          ¿ Aceptas todos los terminos y condiciones para endeudarte en la Gangan :3 ?
        </label>
        <div class="invalid-feedback">
         Acepta era bromita 🙈
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar Formulario</button>
    </div>
  </form>
<script src="/Carreño_Barriga/core/JS/validacion.js"></script>
</body>

</html>